
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
node_modules/
test-results/
playwright-report/
blob-report/
playwright/.cache/
.DS_Store

# Promptfoo & Environment
.env
report.html

# Accessibility Reports
tests/accessibility/reports/

# Taurus / JMeter Performance Tests
20*-*-*_*-*-*.*
perf-results/
perf-test-results/
jmeter.log
venv/
